@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: #1f2328;
  color: #e2e8f0;
}
